<%- include header.ejs %>
<!-- section -->
<div class="section layout_padding padding_bottom-0" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span>Avaliable Links</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Orignal Url</th>
                            <th>Short Url</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < data.length; i++) { %>
                            <tr>
                              <td><%=host %>/link/<%= data[i].short %></td>
                              <td><%= data[i].orignal %></td>
                            </tr>
                         <% } %>
                    </tbody>
                </table>
            </div>
            <div style="margin: auto;padding-bottom: 10px;">
                <a href="/#createlink"><b style="color: #095A83;">CREATE NEW SHORT LINK</b></a>
            </div>
        </div>
    </div>
</div>

<%- include footer.ejs %>